<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>1keyboard</title>
</head>
<body>
  <a href="./channel/1">Channel 1</a><br>
  <a href="./channel/2">Channel 2</a><br>
  <a href="./channel/3">Channel 3</a><br>
</body>
</html>
